.navbar {
  background-color: #22212c;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}

.navbar li {
  font-size: 16px;
  font-weight: 500;
  margin-right: 25px;
}

.navbar li:last-child {
  margin-right: 0;
}

.navbar li a {
  padding: 13px;
}

.navbar li a:hover {
  color: #ffffff !important;
}

.navbar span {
  font-family: "Montserrat Light";
  font-size: 16px;
}
